<%- include("template/header",{titulo:"Inicio"})%>
<%- include("template/nav-bar")%>

    <div class="container">
        <%- include("template/slider-galery")%>

        <div class="texts-container">
            <div class="home-text">
                <img src="./Icons/001-edificio.png" alt="">
                <div class="text-content">
                    <h1 class="title">GARIUZ CONSTRUCTOR.</h1>
                    <p>Somos una empresa dedicada a ofrecer servicios relacionados con la construcción y asistencias 
                    de todo tipo, ofreciendo personal capacitado para atender tus requerimientos a costos negociables
                    y en el tiempo en el que lo necesites.</p>
                </div>
            </div>
            
            <div class="line"></div>

            <div class="home-text">
                
                <div class="text-content construimos">
                    <h1>Construimos.</h1>
                    <p>Podemos ofrecerte servicios de remodelación, asistencias y proyectos privados para tus negocios, 
                    viviendas y vienes, que requieran una reconstrucción completa o simplemente un cambio radical de imagen. Como 
                    tambien tenemos personal capacitado para proyectos de gran complejidad en zonas urbanas.</p>
                </div>

            </div>
        </div>
            <!--Tarjetas-->
            <div class="tarjets">
                
                <div class="tarjet">
                    <img src="./Img/Tarjet-1(2).jpg" alt="">
                    <div class="tarjet-text">
                        <h2>Remodelaciónes.</h2>
                        <p>Diseños innovadores, materiales de alta calidad 
                            y un resultado asombroso en la remodelación de tu casa, negocio o cualquier 
                            lugar que desees.
                        </p> 
                    </div>
                    <div class="tarjet-btn">
                        <a href="/servicios">Más detalles.</a>
                    </div>
                </div>

                <div class="tarjet">
                    <img src="./Img/Tarjet-2.jpg" alt="">
                    <div class="tarjet-text">
                        <h2>Asistencias.</h2>
                        <p>Ofrecemos servicios de plomería y electricidad para darle solución 
                            a cualquier requerimiento de tu hogar o negocio. 
                        </p>
                    </div>
                    <div class="tarjet-btn">
                        <a href="/servicios">Más detalles.</a>
                    </div>
                </div>

                <div class="tarjet">
                    <img src="./Img/Tarjet-3.jpg" alt="">
                    <div class="tarjet-text">
                        <h2>Proyectos privados</h2>
                        <p>Desde la casa de tus sueños hasta un gran negocio, todo tipo de proyecto que 
                            algún día ideaste puede ser llevado a cabo por nuestra empresa.
                        </p>
                    </div>
                    <div class="tarjet-btn">
                        <a href="/servicios">Más detalles.</a>
                    </div>
                </div>

                <div class="tarjet">
                    <img src="./Img/Publico.jpg" alt="">
                    <div class="tarjet-text">
                        <h2>Espacios públicos.</h2>
                        <p>Diseñamos y construimos proyectos espacialmente para el 
                            usuario pensando en sus necesidades y el alto tráfico.
                        </p>
                    </div>
                    <div class="tarjet-btn">
                        <a href="/servicios">Más detalles.</a>
                    </div>
                </div>

            </div>

            <%- include("contact-form") %>

            <div class="btn-home">
                <i class="fas fa-chevron-up"></i>
            </div>
    </div>
    <%- include("template/footer") %>
    
</body>
</html>